*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{    
    background-image: linear-gradient(to right,#e9dbdb, #ffff003a, #a1a1e25b);
  }
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;      
    }
    
    .card{
      max-width: 400px;
      max-height: 500px;
      background-image: linear-gradient(to right, #f5eb98, #f32c2c7e, #888888d2);      
      border-radius: 10px; 
      margin: 0 auto;   
      padding: 20px; 
      text-align: center; 
      box-shadow: 0 4px 8px #fc2e20, 0 6px 10px #0000ff;
    }
     
    /* Card Header Part start here */
    .card img{
      display: block;
      margin: 0 auto;
      border-radius: 50%;
    }

    .card_header h1{
      font-family: "Poppins", sans-serif;
      font-size: 1.2rem;
      font-weight: bolder;
      color: #010100;
      margin: 10px 10px 0px;
    }

    .card_header h3{
      font-family: "Roboto", sans-serif;      
      color: #fc2e20;
      margin: 0 15px;
    }
    /* Card Header Part end here */

    /* Card body Part start here */
    .card_body{
      margin: 0 10px;
      padding: 0 10px 0;
    }

    .card_body p{
      font-family: "Roboto", sans-serif;
      color: #010100;
      font-size: 15px;
      text-align: center;
      margin: 10px 10px 5px;
    }

    .card_body p a{
      padding: 0 25px;
      text-decoration: none;
      color: #fff;
      font-size: 12px;
      margin: 0;
    }

    .card_body p a:hover{
      text-decoration: underline;
      color: #0000ff;
    }

    .card_body button{
      margin: 10px 30px;    
      padding: 0 10px;
      font-weight: bold;
      background-color: #fc2e20 ;
      color: #fff;
      outline: none;
      border: none;
      border-radius: 10px;
    }

    .card_body button:hover{
      background-color: #010100;
      color: #fff;
    }
    /* Card body Part end here */
    
    /* Card footer Part start here */
    .card_footer{
      background-color: #0000ff0a;
      margin: 0;
      padding: 10px;
      border-radius: 10px;
    }

    .card_footer a{
      margin: 5px 15px;
      color: #fff;
    }
    /* Card footer Part end here */

